<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>分布式计算</title>

    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container-fluid">

    <div class="starter-template">
        <h1>系统功能</h1>
        <a th:href="@{/model}"  class="btn btn-primary" role="button">模型查看</a>
        <a th:href="@{/pradequacy}"  class="btn btn-primary" role="button">可靠性分析</a>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>