<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <title>模型查看</title>
   <div th:replace="fragments/header :: header-css" /></div>
</head>
<body>
 <div  th:replace="fragments/header :: header"></div>
 <div id="wrapper">
   
	<nav class="navbar-default navbar-static-side" role="navigation">
    <div  class="sidebar-collapse" id="categories">
	    <ul class="nav" id="side-menu">
	    </ul>
    </div>
    </nav>
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="ibox-content">
	        <table class="table table-striped table-bordered table-hover">
	            <thead>
	        	<tr>
	        	   <th>col1</th>
	        	   <th>col2</th>
	        	</tr>
	        	<thead>
	        	<tbody>
		        	<tr class="gradeX">
		        	   <td>val11</td>
		        	   <td>val12</td>
		        	</tr>  
	        	</tbody>      	
	        </table>
        </div>
    </div>
   
  </div> 
<!-- /.container -->
<div th:replace="fragments/footer :: footer"></div>

</body>
<script>

   var loadTables = function(categoryname, ulist)  
   {
	   $.ajax({
			url : "model/category/"+categoryname,
			type : "GET",
			data : null,

			success : function(tableNames) {
				console.log("tableNames = " + JSON.stringify(tableNames));
										
				for (var i = 0; i < tableNames.length; i++ ) {
					ulist.append("<li><a href=''>"+tableNames[i]+"</a></li>");
				}
		
			},
			error : function() {
				alert("get tables failed in category :" + categoryname);
			}
		});
   }

   $(function() {
		$.ajax({
			url : "model/categories",
			type : "GET",
			data : null,

			success : function(list) {
				console.log("categories = " + JSON.stringify(list));
				var categories = $("#categories").children("ul");
				
				
				
				for (var i = 0; i < list.length; i++ ) {
					//alert("hi");
					var categoryid = "db"+i;
					var categoryname = list[i];
					//categories.append("<li id='"+categoryid+"'><span><i class='fa fa fa-volume-up'></i> <a href=''>"+categoryname+"</a></span></li>");
					categories.append("<li id='"+categoryid+"'> <a href='javascript:void(0)''><i class='fa fa fa-qrcode'></i>"
	                        +"<span class='nav-label'>   "+categoryname+"   </span>"
	                        +"<span class='fa arrow'></span>"
	                    +"</a></li>");
					var category_element = $("#"+categoryid);
					category_element.append("<ul class='nav nav-second-level collapse in'></ul>");
					var ul_element = $("#"+categoryid).children("ul");
					
					loadTables(categoryname, ul_element);
					
				}
				//alert(categories);

			},
			error : function() {
				alert("get categories failed!");
			}
		});

   });
</script>
</html>