<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>新建节点</title>
    <div th:replace="fragments/header :: header-css">
    </div>
    <style>
    	button#commit{
    		flow:right;
    	}
    </style>
</head>
<body>
  <div class="container-fluid">
	    <form  id="add-node-form" class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2 well" action="node/addNode" method="post">		
				<div class="panel-heading">
					<h2>节点设置</h2>
				</div>
				<div class="panel-body">
					<div class="fitem">
						<p> 节点名称: <input type="text" name="name"
							id="name" class="easyui-combobox" placeholder="名称" required /></p>
					</div>
					<div class="fitem">
						<p> 访问地址: <input type="url" name="url" id="url" class="easyui-combobox" placeholder="http://" required /></p>
					</div>
				</div>
				
				<div>
				  <button id="commit" type="submit" class="btn btn-primary active">保存</button>
				  <button id="back"  class="btn btn-primary active">返回</button>
				</div>				
		</form>
  </div>
  
  <script>
    $("#commit").click(function(){
        $.post("${pageContext.request.contextPath}/node/addNode"",  
                {name:  $("#name").val(),url:  $("#url").val()},  
                function(data){   
                	alert(data);
                	if (data.code == "OK")
                	   window.location.href = ${pageContext.request.contextPath}+"/"+data.value;
                	else {
                		
                	}                            
                });  
    }});
  </script>
</body>
</html>