

footer{
    margin-top:60px;
}

  .navbar-static-side {
    z-index: 2001;
    position: absolute;
    width: 220px;
  }
.header-navbar .navbar {
    margin-bottom: 0px;
    border-radius: 0px;
	background: #007069;
}

.header-navbar .navbar .nav > li > a{
    color: aqua;
    background-color: #007069;
   
}

.header-navbar .navbar .nav > li > a:hover,
.header-navbar .navbar .nav >li >a:active {
    color: aqua;
    background-color: #007069;
}

.header-navbar .navbar .nav >li >a:visited{
    color: aqua;
    background-color: #007069;
}
.header-navbar .navbar .nav > li .dropdown-menu {
    margin: 0;
}
.header-navbar .navbar .nav > li:hover .dropdown-menu {
    display: block;
}

.header-navbar .navbar-nav>.active>a:hover{
    color:#555;
    background-color:#007069}

.navbar-right {
    margin-right: 5px;
}

.header-navbar .nav .navbar-nav .navbar-right >li >a:hover {
    color: aqua;
    background-color: #007069;
}

