

footer {
	    text-align:center;
		clear: both;
		margin: 0;
		padding-top: 16px;
		
		width: 100%;
		line-height:24px;
		background: #f0f0f0;
		border-top: 0px solid #fff;
		/*background: #fdfcf8 url(/ui2017/footer.png) top left repeat-x;*/
		font-family:PingFangSC-Regular, '微软雅黑', Verdana, Arial, '宋体';
}

div.container-fluid {
	margin: 0 0 20px 0;
    padding: 0 10px 0 10px;	
}
/*
  .navbar-static-side {
    z-index: 2001;
    position: absolute;
    width: 220px;
  }
.header-navbar .navbar {
    margin-bottom: 0px;
    border-radius: 0px;
	background: #007069;
}

.header-navbar .navbar .nav > li > a{
    color: aqua;
    background-color: #007069;
   
}

.header-navbar .navbar .nav > li > a:hover,
.header-navbar .navbar .nav >li >a:active {
    color: aqua;
    background-color: #007069;
}

.header-navbar .navbar .nav >li >a:visited{
    color: aqua;
    background-color: #007069;
}
.header-navbar .navbar .nav > li .dropdown-menu {
    margin: 0;
}
.header-navbar .navbar .nav > li:hover .dropdown-menu {
    display: block;
}

.header-navbar .navbar-nav>.active>a:hover{
    color:#555;
    background-color:#007069}

.navbar-right {
    margin-right: 5px;
}

.header-navbar .nav .navbar-nav .navbar-right >li >a:hover {
    color: aqua;
    background-color: #007069;
}

*/