<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header-css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <!-- this is header-css -->
       <link rel="stylesheet" type="text/css"
             href="../../bootstrap/3.3.7/css/bootstrap.min.css" />

     
                   
		<!-- link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css"-->

        <link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.6.0/css/font-awesome.min.css">
        <!-- link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" /-->
             
        <link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css" />    
    <!--          
        <link rel="stylesheet" th:href="@{/css/layoutit.css}" href="../../css/layoutit.css" />    
	   	<link rel="shortcut icon" href="http://www.runoob.com/favicon.ico">

	<script type="text/javascript" src="//cdn.staticfile.org/jquery/2.0.0/jquery.min.js"></script>
	<script type="text/javascript" src="//cdn.staticfile.org/jqueryui/1.10.2/jquery-ui.min.js"></script>
	<script type="text/javascript" src="//cdn.staticfile.org/jqueryui-touch-punch/0.2.2/jquery.ui.touch-punch.min.js"></script>
	<script type="text/javascript" src="//cdn.staticfile.org/twitter-bootstrap/3.0.1/js/bootstrap.min.js"></script>
	 -->
   
        <script src="../../scripts/jquery-3.2.1.js"></script>  
        
        <script type="text/javascript"
                src="../../bootstrap/3.3.7/js/bootstrap.min.js"></script>    

    <!-- style>
    	.navbar-layoutit { height:30px;}
    	
    	.navbar-layoutit ul,
    	.navbar-layoutit li, 
    	.navbar-layoutit a,
    	div .navbar-collapse 
    	{ 
    
    	 margin:0px; 
    	 padding:0px;
    	 
    	 position: static;
    	 
    	}
    	 

    	     	
    	.navbar-layoutit .navbar-left,
    	.navbar-layoutit .navbar-right {
    	    
    		height:30px; margin:0px; padding:0px;
    		border: solid green 1px
    	}
    	
    	.navbar-layoutit .navbar-left a,
    	.navbar-layoutit .navbar-right a {
    		height:30px,
    		text-align:center;
    		line-height:0px;
    		
    	}
    	
    	
    </style-->
</head>
<body>
<div class="navbar navbar-inverse" th:fragment="header">
    <!-- this is header -->

            
            <div class="navbar-header">              
                <a class="navbar-brand" th:href="@{/}">
                  <i class="fa fa-qrcode"></i>                  
                                    分布式计算
                </a>
            </div>
              
            <div class="nav navbar-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li class="active"><a th:href="@{/}">主页</a></li>
                    <li><a th:href="@{/model}">模型查看</a></li>
                    <li><a th:href="@{/pradequacy}">可靠性计算</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:href="@{/admin/signup}"><span class="fa fa-user"> 注册</span></a></li>
                    <li><a th:href="@{/admin/login}"><span class="fa fa-sign-in"> 登录</span></a></li>
                 </ul>               
            </div>

   
</div>

</body>
</html>