<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header-css">

       <!-- this is header-css -->
       <link rel="stylesheet" type="text/css"
             href="../../bootstrap/3.3.7/css/bootstrap.min.css" />

     
                   
		<!-- link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css"-->

        <link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.6.0/css/font-awesome.min.css">
        <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
             
        <!-- link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css" /-->    
             
        <script src="../../scripts/jquery-3.2.1.js"></script>      

</head>
<body>
<div th:fragment="header">
    <!-- this is header -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
             <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}">分布式计算</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav pull-left">
                    <li class="active"><a th:href="@{/}">主页</a></li>
                    <li><a th:href="@{/model}">模型查看</a></li>
                    <li><a th:href="@{/pradequacy}">可靠性计算</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                            <li><a th:href="@{/admin/signup}"><span class="fa fa-user"> 注册</span></a></li>
                            <li><a th:href="@{/admin/login}"><span class="fa fa-sign-in"> 登录</span></a></li>
                        </ul>
                    </li>
                </ul>                
            </div>
        </div>
    </nav>
</div>

</body>
</html>