<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>计算节点-日志查看</title>
		<meta charset="utf-8" />
		<div th:replace="fragments/header :: header-css">
		</div>	
	</head>
	<body>
		<div th:replace="fragments/header :: header">
		</div>
		<div class="container-fluid">
			<div class="query form">
				<div class="form-inline">
					
				</div>
				<lable for="contentFilter">内容过滤:</label>
				<input type="text" name="contentFilter" id="contentFilter" value="" />
				<lable>起始时间:</label>
				<input type="date" name="contentFilter" id="" value="" />
				<lable>结束时间:</label>
				<input type="date" name="contentFilter" id="" value="" />
				
			</div>
			<div class="content">
				
			</div>
		</div>
	</body>
</html>
