
#clickMe {
	background: #D8B36E;
	padding: 20px;
	text-align: center;
	width: 250px;
	display: block;
	border: 2px slolic #000;
}

#picframe {
	background: #D8B36E;
	padding: 20px;
	width: 250px;
	display: none;
	border: 2px slolid #000;
}