.container-fluid {
	height : 100%;
	width: 100%;
	display:flex;
	padding-bottom: 36px;
}

.table-panel {
	height:100%;
	width: 100%;
	padding-left:5px;
	padding-right: 5px;
}
.container-fluid table {

	width: 100%;
	
	margin-bottom: 36px;

}
.monitor-tip {
	display: none;
	justify-content:center;
	align-items:center;
	height: 100%;
	width: 100%;				
}