
.navbar-brand,
.navbar-nav li a {
    line-height: 30px;
    height: 30px;
    padding-top: 0;
}

.navbar-inverse {
	    min-height: 30px;
	    margin-bottom : 0;
	    background-color: #5f5f5f;
	    border-color : #f1f1f1
}


footer {
	    text-align:center;
		clear: both;
		margin: 0;
		padding-top: 16px;
		
		width: 100%;
		line-height:24px;
		background: #f0f0f0;
		border-top: 0px solid #fff;
		/*background: #fdfcf8 url(/ui2017/footer.png) top left repeat-x;*/
		font-family:PingFangSC-Regular, '微软雅黑', Verdana, Arial, '宋体';
}

div.container-fluid {
	margin: 50px 0 20px 0;
    padding: 0 10px 0 10px;	
}


.navbar-right {
    margin-right: 5px;
}

.modal-dialog{
   position: absolute;
   left: 50%;
   /* now you must set a margin left under zero - value is a half width your window */
   margin-left: -312px;
   /* this same situation is with height - example */
   height: 500px;
   top: 50%;
   margin-top: -250px;
} 

/*
  .navbar-static-side {
    z-index: 2001;
    position: absolute;
    width: 220px;
  }
.header-navbar .navbar {
    margin-bottom: 0px;
    border-radius: 0px;
	background: #007069;
}

.header-navbar .navbar .nav > li > a{
    color: aqua;
    background-color: #007069;
   
}

.header-navbar .navbar .nav > li > a:hover,
.header-navbar .navbar .nav >li >a:active {
    color: aqua;
    background-color: #007069;
}

.header-navbar .navbar .nav >li >a:visited{
    color: aqua;
    background-color: #007069;
}
.header-navbar .navbar .nav > li .dropdown-menu {
    margin: 0;
}
.header-navbar .navbar .nav > li:hover .dropdown-menu {
    display: block;
}

.header-navbar .navbar-nav>.active>a:hover{
    color:#555;
    background-color:#007069}



.header-navbar .nav .navbar-nav .navbar-right >li >a:hover {
    color: aqua;
    background-color: #007069;
}

*/