<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>新建节点</title>
    <div th:replace="fragments/header :: header-css">
    </div>
    <style>
    	button#commit{
    		flow:right;
    	}
    	#id-fitem {
    		display:none;
    	}
    </style>
</head>
<body>
  <div class="container-fluid">
	    <div   th:replace="node/fragments/nodepage :: form">		

		</div>
  </div>
  
  <script  type="text/javascript">

	$(document).ready(function () {
		 var id = $("input#id").val();
		 if (id != null) {
			 $("#id-fitem").show();
		 }
 	});

  </script>
</body>
</html>