<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <title>分布式计算-总线数据查看</title>
   <div th:replace="fragments/header :: header-css" /></div>
  
   <style>
   



  
   #table-nav {
   	width : 100%;
   	height: 100%;
   }  

/*  	
  	#page-wrapper > .bootstrap-table  {
  	    position: relative;
  		height:100%;
  	}
  */	

   /*
   	  nav#table-nav {
   	  	position:fixed;
   	  	top: 30px;
		margin: 0;
		padding: 0;
		padding-top: 10px;
		border: 0;
		width: 250px;
		background: transparent;
		overflow: auto;
		height : 100%;
		z-index: 1;
   	  }
   	  */
   	  
   	

      #db ul {
        height : 100%;
      }
	    
 
   	  ul.dbcategory {
   	  	margin:0 0 0 15px;
   	  	padding:0;
   	  }
   	  
   	  li.nav-expand-btn {
   	  	float: right;
   	  }
   	  

		   	  
   </style>
</head>
<body>
 <div  th:replace="fragments/header :: header"></div>

 	    
 <div class="container-fluid">  
    <div class="row content-row">
  
  		<div class="col-xs-2 table-nav content-row-left">
  		   <nav   id="table-nav" class="tree-nav">		
			  <div  class="tree well" id="categories">
			   <ul>
			   </ul>
			  </div>	    
			</nav>
  		</div>

		
		<div class="col-xs-10 content-row-right" id="page-wrapper">
            <div id="toolbar" class="toolbar">
	            <button id="btn_delete_all" type="button" class="btn btn-default">
	               <span><i class="glyphicon glyphicon-remove" aria-hidden="true"></i>清空</span>
	            </button>            
            </div>
	        <table id="table" class="table">
     	
	        </table>
        </div> 	

    </div>
    <div th:replace="fragments/footer :: footer"></div>

    
</div>

   <!-- /.container -->




</body>
<script>


   var modelApi = new ModelFunction();
   var currentDb;
   var currentTable;
   $(function() {
	    $('[data-toggle="tooltip"]').tooltip();  
	    var categories = modelApi.getCategories();
	    var items = categories.map(function(item) { 	
	    	return {
	    		id : item.id,
	    		name : item.name,
	    		childCount : item.childCount,
	    		children : item.children.map(function(i){ return {id: i.id, name:i.name, childCount:0, children : []};})
	    	}	
	    } );

	    if (!items || items.length == 0 || !items[0].children || items[0].children.length == 0) {
	        console.log("Find no items");
        }

       var url = new URL(window.location.href);
       currentDb = url.searchParams.get("dbid");
       currentTable = url.searchParams.get("tableid");

        if (currentDb == 'null' || currentTable == 'null' || currentDb == undefined || currentTable == undefined) {
            currentDb = items[0].name;
            currentTable = items[0].children[0].name;
        }

        buildTree($("#categories ul"), items, items[0].children[0], function click(span){
        	 var li = span.parent('li');
			 var dbName = li.attr("parent");
			 var tableName = li.attr("id");
			 currentTable = tableName;
			 currentDb = dbName;
			 if (dbName == "-1")
				   return;
			   


			   // if (showDetail != undefined)
				//  showDetail(dbName, tableName);
             loadRecoreds(dbName, tableName);
        });

	  //  loadRecoreds(currentDb, currentTable);
	    
	    $("#btn_delete_all").click(function () {
	    	let url = "buffer/records/?" + "dbid="+currentDb+"&&tableid=" + currentTable + "&&ids=*";
			$.ajax({
				url : url,
				type : "DELETE",
				data : null,

				success : function(msg) {
					console.log(msg);
					console.log("url = "+url),
					//window.location.href ="/buffer/records/?"+ "dbid="+currentDb+"&&tableid=" + currentTable;
					
					loadRecoreds(currentDb, currentTable);
				},
				error : function(e) {
					alert("fail to delete nodes : error= "+e.toString());
				}
			});
	    });
	    
   });
   
   

		  	
	 
     
	function ModelFunction() {
		this.baseUrl = 'buffer/';
		this.getCategories = function(callBack, failCallBack) { return this.query('categories', callBack, failCallBack);};
		this.getTableColumns = function(dbid, tableId, callBack, failCallBack) { return this.query('tableColumns/'+dbid+"/"+tableId, callBack, failCallBack);};
		this.getRecords = function(dbid, tableId, callBack, failCallBack) { return this.query('records/?dbid='+dbid+"&&tableid="+tableId, callBack, failCallBack);};
	}  
	
	ModelFunction.prototype.query =  function (url, callBack, failCallBack) {
		     var result;
		     
			 jQuery.ajax({
			        url: this.baseUrl+url,
			        success: callBack != undefined ? callBack : function(record) { result = record; },
			        async: callBack == undefined ? false : true,
			        error: failCallBack				        
			    });
			 
			 
			 if (callBack == undefined) {
				// console.log(result);
				 return result;
			 }
	};	
	
	  var loadRecoreds = function(dbid, tableId) {
		  
		  columnInfos = modelApi.getTableColumns(dbid, tableId);
		   
		  
		  columns = [];

		  
			for (var i = 0; i < columnInfos.length; i++) {
				var col = columnInfos[i];
							
				columns.push({field:col.name, title:(col.alias ? col.alias : col.name) ,sortable:false});
			}
			records = [];
			recordArrays = modelApi.getRecords(dbid, tableId);
			if (recordArrays) {
				for (var i = 0; i < recordArrays.length; i++) {
				    var rec = {};
				    var row = recordArrays[i];
					for (var j = 0; j < columns.length; j++) {
					  rec[columns[j].field]=row[j];
					}
					
					records.push(rec);
				}
			}
			
			var t = $("#table");
			t.children().remove();
			buildTable(t, columns, records);
	  }
	   
	   var loadTables = function(dbid, ulist)  
	   {
		   //alert(categoryname);
		   $.ajax({
				url : "buffer/tables/?dbid="+dbid,
				type : "GET",
				data : null,

				success : function(tables) {
					console.log("tables = " + JSON.stringify(tables));
											
					for (var i = 0; i < tables.length; i++ ) {
						var table = tables[i];
						ulist.append("<li id='"+dbid+"'><a href='#'  id='"+table.name+"' data-toggle='tooltip' title='"+table.name+"'><i class='fa fa-navicon'></i>"+table.alias+"</a></li>");
					}
					ulist.find("#"+dbid+" a").click(function() {
				        
				        var tableId = $(this).attr('id');
				        loadRecoreds(dbid, tableId);

				    });
				     
				},
				error : function() {
					alert("get tables failed in category :" + categoryname);
				}
			});
	   }

	   function buildTable($el, columns, records) {    
			$el.bootstrapTable('destroy').bootstrapTable({
			   striped: true,                      //是否显示行间隔色
			   toolbar: '#toolbar',
			   // width: 300,
				//height : 800,
				pagination: records.length < 100 ? false : true ,
				pageSize: 100,
				pageList: [10, 25, 50, 100], 
				minimumCountColumns: 10,             //最少允许的列数
				showColumns : true,                  //是否显示所有的列
				//dataToggle:table,                    //是否显示详细视图和列表视图的切换按钮
				detailView: false,
				//detailFormatter : detailFormatter,
				search:true,
				showToggle:false,                    //是否显示详细视图和列表视图的切换按钮
				//queryParams: queryParams,//传递参数（*）
				showExport: true,                     //是否显示导出
				exportDataType: "all",              //basic', 'all', 'selected'.
			    columns: columns,
			    data: records
			});	
		}	
	   


</script>
</html>